<div><strong>Registro</strong></div>
<br />

@{contentToggle(repository.isSuccess, 'success')}

<form action="/" method="POST">

<div>Tipo de contenido:</div>
<div>
<select name="type">
@{options(repository.type, model.type, 'name', 'id')}
</select>
</div>
<br />
<div>Nombre:</div>
<div>@{text('name')}</div>
<br />
<div>E-mail:</div>
<div>@{text('email')}</div>
<br />
<!-- OR your custom definition -->
<div>Telefono:</div>
<div><input type="text" name="phone" value="@{model.phone}" /></div>
<br />
<div>Contraseña:</div>
<div>@{password('password')}</div>
<br />
<div>Pais:</div>
<div>
<select name="country">
@{options(repository.country, model.country)}
</select>
</div>
<br />
<div>
@{checkbox('terms', 'Acepto')}
</div>
<br />
<hr />
<br />
<div><button>Registrarse</button></div>
</form>